{% extends '/index.html'%}
{% block title %}
portfolio
{% endblock %}
{% block body %}
<!--<div class="container" id="header">
    <h1 id="ana">Chadi Muhammed</h1>
    <h2 id="ana-brdo">Trainee</h2>
</div>-->
<div id="all">
    <div id="content">
        <div class="container" id="left-side">
            <img src="{{ url_for('static', filename='images/self.png') }}" alt="Self" />
        </div>
        <div class="container" id="right-side"></div>
    </div>
</div>
<img src="https://i.imgur.com/2SwTrtU.png" alt="Self" />
<a href="http://google.com">google</a>
{% endblock %}